# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Artificat files
stdio_benchmark
!stdio_benchmark/
spj
!spj/
system_benchmarks
!system_benchmarks/
go.sum
*.r1cs
*.bin
circuit
expectedProver
!expectedProver/
stat.json
maliciousProver
!maliciousProver/
/.turbo
.env
/results.sarif
SPJ
!SPJ/

# rust target files
target/