@layer reset, antd;

/* @import url('reset.css') layer(reset); */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0px;
}
.main-container {
  width: 1200px;
  margin: 28px auto 0;
}

@media screen and (max-width: 475px) {
  .main-container {
    width: 100%;
    margin: 30px auto 0;
  }
}

.elp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 2行ellipsis */
.elp-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
